/* Marges en padding hele document wisse, */
* {
   padding: 0;
   margin: 0;
}

/* Navbar */

nav ul {
   display: flex;
   margin-left: 20px;
   list-style-type: none;
   flex-direction: row-reverse;
}

nav ul li {
   margin-top: 50px;
   white-space: 50px;
}

nav ul li:nth-of-type(1),
nav ul li:nth-of-type(2),
nav ul li:nth-of-type(3) {
   margin-right: 25px;
}

nav ul li a {
   padding: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   border: 1px solid black;
   border-radius: 5px;
   background-color: white;
   text-decoration: none;
   color: black;
}

nav ul li a:hover {
   padding: 16px;
   color: black;
   font-weight: 900;
   border: 3px solid black;
   transition-duration: 0.07s;
}

/* Muziekje op de achtergrond */
audio {
   display: none;
}

@media screen and (max-width: 480px) {
   nav ul {
      text-align: center;
   }
}