#sectionSpeler {
   background-image: url("../img/background_player.jpg");
   width: 100%;
   height: 100%;
   background-position: center;
}

#sectionEnemy {
   background-image: url("../img/enemy_background_2.jpeg");
   width: 100%;
   height: 100%;
}

div {
   text-align: center;
}

button {
   padding: 10px;
   background-color: red;
   color: white;
   border-radius: 37%;
   gap: 25px;
   text-decoration: none;
}

button:hover {
   background-color: darkred;
   padding: 12px;
}

.leven {
   width: 50px;
   height: 50px;
}