#navbar {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background-color: var(--lichtzwart);
   padding: 15px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#navbar ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}

#navbar ul li {
   margin-left: 20px;
}

#navbar ul li:first-of-type {
   justify-content: flex-start;
}

#navbar ul .list-item a {
   text-decoration: none;
   color: white;
   transition: 0.5s;
   font-size: 1.2em;
   padding: 10px 15px;
}

#navbar ul .list-item a:hover,
#navbar ul .list-item a:focus {
   color: rgb(218, 218, 218);
   text-decoration: underline;
}

@media screen and (max-width: 400px) {
   #navbar {
      font-size: 0.6em;
   }
}