/* Mobile 1e sectie */
@media screen and (min-width: 400px) {
   #card {
      margin-left: 1px;
   }
}

/* Mobile 2e sectie grid */
@media screen and (max-width: 431px) {


   #GridSchoolrooster {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr) !important;
      font-size: 10px !important;

      grid-template-areas:
         "Jaar1-Sem1 Jaar1-Sem2 Jaar2-Sem1"
         "CS Business AdvancedSD1"
         "Databases Communication CCSA"
         "Cybersecurity CompNetworks Costing"
         "OOSD1 OOSD2 Functional"
         "IT Operating FrondEnd"
         "SoftwareAnalasis Web2 ProfCom"
         "Web1 SDP1 Databases2"
         "Leeg1 SEL1 WebSer"
         "Jaar2-Sem2 Jaar3-Sem1 Jaar3-Sem2"
         "AdvancedSD2 BusinessAnaly Bachelorproef"
         "DataAI DevOps Career"
         "EntrepriseWebDev EntrepriseC Stage"
         "IT2Business Android Leeg6"
         "Methods ModernData Leeg7"
         "ITProf Leeg3 Leeg8"
         "SDP2 Leeg4 Leeg9"
         "Leeg2 Leeg5 Leeg10" !important
      ;

      grid-template-rows: repeat(8, 1fr) !important;
      max-width: 95vw !important;
      overflow-x: hidden !important;
   }
}