* {
   font-family: "Roboto";
}

body {
   background-color: black;
   color: white;
}

button {
   border-radius: 25%;
}

/* strong {
    color: #b57a21; 
} */



/* Navbar */
nav div li {
   transition: 0.3s;
}

nav div li:hover {
   transform: translateY(-5px);
}

nav {
   font-style: italic;
}

/* Footer */
footer {
   /* background-color: #b37c39; */
   color: white;
   font-weight: 500;
}

/* Headers */
h1 {
   margin-top: 10px;
   text-align: center;
   font-family: "dancing Script", 'Courier New', Courier, monospace;
   font-size: 45px;
}

/* PaginaSecties */
/* Sectie 1 */
#cards {
   margin-left: 13%;
}

/* Sectie 2 */
#Schoolcarrière {
   padding: 25px;
}

/* Tabel */
table {
   width: 100%;
   font-size: 12px;
}

th,
td {
   border: 1px solid black;
   padding: 7px;
}

th {
   text-align: center;
   background-color: #b57a21;
   color: white;
}

tr:nth-of-type(even) {
   background-color: #b8b8b8;
}

tr:nth-of-type(odd) {
   background-color: #666565;
}

/* Algemene opmaakcodes */
.centreren {
   text-align: center;
}

.onderstrepen {
   text-decoration: underline;
}