/* Navbar */
nav div li {
   transition: 0.3s;
}

nav div li:hover {
   transform: translateY(-5px);
}

/* Algemene opmaak */
button {
   border-radius: 25%;
}

/* index.html */
h1:first-of-type {
   margin-top: 10px;
   text-align: center;
}

/* Footer */
footer {
   background-color: #b57a21;
}